.mat-input-element {
  padding: 0.5em;
  width: 95%;
  border-radius: 0.5em;
  // text-transform: uppercase;
}
.btn-buscar {
  font-weight: 400;
  padding: 0.2em 1em;
  background: #5481e7;
}
.btn-resetar {
  padding: 0.2em 1em;
}

.campo-busca {
  width: 90%;
  padding: 2em 0;
  margin: 2em auto 0 auto;
}
.campo-titulo {
  margin: 1em 0.5em;
  font-weight: bolder;
}
.campo-input {
  margin: 0 1em;
}
.campo-botao {
  margin: 0.2em 1em;
}
